h1, h2, h3, p{
    font-family: 'Unica One', sans-serif;
    line-height: 2;
}

.container-header, .container-header1{
    background-color: #969696;
}

.body-header, .body-text{
    color: white;
}

.second-container{
    background-color: #24292D;
}

.third-container{
    background-color: #373F45;
}

.footer-container{
    background-color: #6b7a86;
}

.footer-title, .footer-text{
    font-weight: 800;
}