h1, h2, h3, p, .nav-link{
    font-family: 'Unica One', sans-serif;
    line-height: 2;
    font-size: 1.5em;
}

.container-header, .container-header1{
    background-color: #969696;
}

.body-header{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
.body-text{
    color: white;
    font-size: 1.5em;
}

.body-colored{
    color: #AB8B65;
    font-family: Arial, Helvetica, sans-serif;
}

.second-container{
    background-color: #24292D;
}

.third-container{
    background-color: #373F45;
}

.footer-container{
    background-color: #6b7a86;
}

.footer-title, .footer-text{
    font-weight: 800;
}