body{
    background-color: #24292D;
}

.header-title{
    font-size: 4vw;
}

.nav-link{
    font-size: 2vw;
}

.container-header, .container-header1{
    background-color: #969696;
}

h1, h2, h3, h4, .nav-link, p{
    font-family: 'Unica One', sans-serif;
    line-height: 2;
}

.body-title{
    color: white;
}

.body-text{
    color: #AB8B65;
}

.form-text{
    background-color: #373F45;
}

.form-btn{
    background-color: #373F45;
    border: 1px white solid;
    color: white;
}

.footer-container{
    background-color: #6b7a86;
}

.footer-title, .footer-text{
    font-weight: 800;
}

@media only screen and (max-width: 991px){
    .nav-link{
        font-size: 3vw;
        padding-bottom: 0;
        padding-top: 0;
    }
}